gdp-process-wps/src/test/resources/gml/arcgis-sample.xsd

<?xml version="1.0" encoding="utf-8" ?><xs:schema targetNamespace='http://igscsahcpags02:6080/arcgis/services/GeospatialFabric/mows_mapping/MapServer/WFSServer' elementFormDefault='qualified' xmlns:GeospatialFabric_mows_mapping='http://igscsahcpags02:6080/arcgis/services/GeospatialFabric/mows_mapping/MapServer/WFSServer' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:gml='http://www.opengis.net/gml'><xs:import namespace='http://www.opengis.net/gml' schemaLocation='http://schemas.opengis.net/gml/3.1.1/base/gml.xsd'/><xs:element name='NHDPlus_Catchment' type='GeospatialFabric_mows_mapping:NHDPlus_CatchmentType' substitutionGroup='gml:_Feature'/><xs:complexType name='NHDPlus_CatchmentType'><xs:complexContent><xs:extension base='gml:AbstractFeatureType'><xs:sequence><xs:element name='OBJECTID' type='xs:int'/><xs:element minOccurs='0' name='Shape' type='gml:MultiSurfacePropertyType'/><xs:element minOccurs='0' name='POI_ID' type='xs:int'/><xs:element minOccurs='0' name='PROD_UNIT'><xs:simpleType><xs:restriction base='xs:string'><xs:maxLength value='255'/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs='0' name='hru_id' type='xs:int'/><xs:element minOccurs='0' name='hru_segment' type='xs:int'/><xs:element minOccurs='0' name='Shape_Length' type='xs:double'/><xs:element minOccurs='0' name='Shape_Area' type='xs:double'/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:schema>