gdp-common-utilities/src/main/resources/META-INF/resources/xsd/gdpdatatypecollection-1.0.xsd

<?xml version="1.0"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="datatypecollection">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="types" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:group ref="types" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="datatype" />
		</xs:complexType>
	</xs:element>
	
	<xs:group name="types">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="rank" type="xs:integer" minOccurs="1" maxOccurs="1" />
			<xs:element name="shape" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="int" type="xs:integer" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="shortname" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="unitsstring" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:group>
</xs:schema>